---
import "../styles/global.css";

import Layout from '../layouts/Layout.astro';
import HeroSection from "../components/sections/HeroSection.vue";
import AboutMeSection from '../components/sections/AboutMeSection.vue';
import ProjectsSection from '../components/sections/ProjectsSection.vue';
import TechnologiesSection from '../components/sections/TechnologiesSection.vue';
import ContactSection from "../components/sections/ContactSection.vue";
---

<Layout title="Welcome - Sandro Marcelo Peirano Gozalvez">
	<main>
		<HeroSection />
		<AboutMeSection />
		<ProjectsSection />
		<TechnologiesSection />
		<ContactSection />
	</main>
</Layout>

<style>
	body {
		font-family: 'Roboto', sans-serif;
	}
</style>
